/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #e3f0ff;
  margin: 0;
  font-family: "Poppins";
}

/* CSS to remove background color for spans */
.no-background {
  background-color: transparent;
  /* Optionally, you can also remove any border or padding */
  border: none;
  padding: 0;
  /* Ensure cursor behaves like regular text */
  cursor: pointer;
  /* Ensure it doesn't inherit text styles like underline */
  text-decoration: none;
  /* Optionally, you can change the color to match regular text */
  color: inherit;
}
